<a href="https://colab.research.google.com/github/K-Pavan0987654321/Problem-Solving-Python/blob/main/Python__Logic_building__series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter your number"))
if num>0:
  print("positive")
elif num==0:
  print("zero")
else:
  print("negative")

enter your number6
positive

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
i=0
while i<5:
  i=i+1
  print(i)

1
2
3
4
5

In [ ]:
N =int(input("Enter your number"))
for i in range(1,21):
  print(N*i,end=' ')

Enter your number2
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40

In [ ]:
n=int(input())
for i in range(1,11):
  print(f"{n}*{i}={n*i}")

4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [ ]:
# SUM OF EVEN NUMBERS in a range of n
n=int(input())
sum=0
for i in range(1,n+1):
  if i%2==0:
   sum=sum+i
print("sum of even numbers in a range is ", sum)

5
sum of even numbers in a range is  6

DAY 3 PROBLEM SOLVING

 7 Right angled traingle

In [ ]:
n=int(input("enter number of rows: "))
for i in range(1,n+1):
  print("*"*i)

enter number of rows: 6
*
**
***
****
*****
******

8.INVERTED TRIANGLE

In [ ]:
n=int(input("Enter number of rows"))
for i in range(n,0,-1):
  print("*"*i)

Enter number of rows6
******
*****
****
***
**
*

9.FINDING MAXIMUM NUMBER IN THE LIST

In [ ]:
lst=[10,25,3,50,7]
max_num=lst[0]
for num in lst:
  if num>max_num:
    max_num=num
print('maximum number is:', max_num)

maximum number is: 50

10.  SUM OF EVEN NUMBERS IN A LIST

In [ ]:
numbers=[2,5,8,11,14,7]
sum_even=0
for i in numbers:
  if i%2==0:
   sum_even=sum_even+i
print("sum of even numbers is:",sum_even)

sum of even numbers is: 24

11.PRIME NUMBER

In [ ]:
n=int(input("Enter a number"))
for i in range(2,n):
  if n%i==0:
    print("not prime")
    break
else:
      print("prime")

Enter a number7
prime

DAY4

12.TO COUNT EVEN AND ODD NUMBERS

In [ ]:
num=[3,4,7,19,20,15,17]
even=0
odd=0
for i in num:
  if i%2==0:
    even=even+1
  else:
    odd=odd+1
print("even numbers",even)
print("odd numbers",odd)

even numbers 2
odd numbers 5

13.INCREMENTAL NUMBER PATTERN

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

14.sum of digits

In [ ]:
n=int(input())
sum_digits=0
while n>0:
  sum_digits=sum_digits+n%10
  n=n//10
print("sum of digits",sum_digits)

42345
sum of digits 18

15.REVERSE A NUMBER

In [ ]:
n=int(input())
rev=0
while n>0:
  digit=n%10
  rev=rev*10+digit
  n=n//10
print("revrse digit is:",rev)

143
revrse digit is: 341

16.FACTORIAL OF NUMBER

In [ ]:
n=int(input())
fact=1
for i in range(1,n+1):
  fact=fact*i
print("factorial of number is:",fact)

3
factorial of number is: 6

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
factorial(5)

120

DAY 5

17.SUM OF EVEN NUMBERS UPTO N

In [ ]:
n=int(input("enter n"))
sum_even=0
for i in range(1,n+1):
  if i%2==0:
    sum_even+=i
print("sum of even numbers upto n is:",sum_even)

enter n20
sum of even numbers upto n is: 110

18.COUNT THE DIGITS IN A NUMBER

In [ ]:
n=int(input("enter n"))
count=0
while n>0:
  count+=1
  n=n//10
print("count of digits in a number is:",count)

enter n678902
count of digits in a number is: 6

In [ ]:
def count_digits(n):
  n=abs(n)
  if n==0:
    return 1
  count=0
  while n>0:
    count+=1
    n=n//10
  return count
count_digits(1234567890)

10

19.CHECK WHETHER THE NUMBER IS PALINDROME OR NOT

In [ ]:
n=int(input())
original=n
rev=0
while n>0:
  digit=n%10
  rev=rev*10+digit
  n=n//10
if original==rev:
  print("n is palidrome")
else:
  print("n is not palindrome")

121
n is palidrome

In [ ]:
DAY 6

20.COUNT VOWELS AND CONSONANTS

In [ ]:
s=input().lower()
vowels=0
consonants=0
for ch in s:
  if ch.isalpha():
    if ch in 'aeiou':
      vowels+=1
    else:
      consonants+=1
print("vowels:",vowels)
print("consonants:",consonants)

PAVAN KUMAR
vowels: 4
consonants: 6

21.REVERS A STRING

In [ ]:
s=input("enter a string")
rev=s[::-1]
print(rev)

enter a stringpavan
navap

22.COUNT WORDS IN A SENTENCE

In [ ]:
s="python is a intrepreted programming language"
count=0
for i in s.split():
  count=count+1
print("count words in a sentence",count)

count words in a sentence 6

23.CHECK PALINDROME STRING

In [ ]:
s=input()
if s==s[::-1]:
  print("palindrome")
else:
  print("not palindrome")

MADAM
palindrome

DAY 6

In [ ]:
24 FIBONACCI SERIES

In [ ]:
n=int(input("enter number of terms"))
a,b=0,1
for i in range(2,n):
  c=a+b
  a,b=b,c

enter number of terms7

In [ ]:
n = int(input("Enter number of terms: "))
a, b = 0, 1
print(a, b, end=" ")

for i in range(n):
    c = a + b
    print(c, end=" ")
    a, b = b, c

Enter number of terms: 7
0 1 1 2 3 5 8 13 21

25 PERFECT NUMBER

In [ ]:
n=int(input("enter number"))
sum_div=0
for i in range(1,n):
  if n%i==0:
    sum_div+=i
if sum_div==n:
  print("perfect number")
else:
  print("not perfect number")

enter number13
not perfect number

DAY 7

26.LARGEST ELEMENT

In [ ]:
numbers=[10,20,98,4,8,100,109]
largest=numbers[0]
for i in numbers:
  if i>largest:
    largest=i
print("the largest element is :",largest)

the largest element is : 109

27.SMALLEST ELEMENT

In [ ]:
numbers=[10,20,98,4,8,100,109]
smallest=numbers[0]
for i in numbers:
  if i<smallest:
    smallest=i
print("the smallest element is :",smallest)

the smallest element is : 4

28 COUNT THE FREQUENCY OF CHARACTERS IN A STRING

In [ ]:
string=input("enter a string")
freq={}
for ch in string:
  if ch in freq:
    freq[ch]+=1
  else:
    freq[ch]=1

for key in freq:
  print(key,":",freq[key])

enter a stringpavan
p : 1
a : 2
v : 1
n : 1

29 CHECK TWO STRINGS ARE ANAGRAMS OR NOT

In [ ]:
str1=input()
str2=input()
if sorted(str1)==sorted(str2):
  print("Anagrams")
else:
  print("not anagrams")

lsiten
silent
Anagrams

 30 REMOVE DUPLICATES FROM LIST

In [ ]:
lst=[1,2,23,2,3,4,3,5,6,8,5,10]
new_lst=[]
for i in lst:
  if i not in new_lst:
    new_lst.append(i)
print("list after removing the duplicates",new_lst)

list after removing the duplicates [1, 2, 23, 3, 4, 5, 6, 8, 10]

31 COMMON ELEMNTS BETWEEN TWO LIST

In [ ]:
lst1=[1,2,3,4,5]
lst2=[4,5,6,7,8]
common=[]
for i in lst1:
  if i in lst2:
    common.append(i)
print("common elemnts",common)

common elemnts [4, 5]

32.Define a function with two numbers as arguments. You can compute the sum in the function and return the value

In [ ]:
def SumFunction(number1,number2):
  return number1+number2
SumFunction(10,20)

30

31 Define a function that can convert a integer into a string and print it in console.

In [ ]:
def Printvalue(n):
  print(str(n))
Printvalue(3)

3

32.Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

Hints:

Use len() function to get the length of a string

In [ ]:
def printvalue(s1,s2):
  len1=len(s1)
  len2=len(s2)
  if len1>len2:
    print(s1)
  elif len2>len1:
    print(s2)
  else:
    print(s1)
    print(s2)
printvalue("pavan","kumar")

pavan
kumar

DAY 8

SELECTION SORT ALGORITHM

In [ ]:

Lst=[56,3,2,78,6,0]
for i in range(len(Lst)):
  min_val=min(Lst[i:])
  min_ind=Lst.index(min_val)
  Lst[i],Lst[min_ind]=Lst[min_ind],Lst[i]
print(Lst)

[0, 2, 3, 6, 56, 78]

DAY 9

33 count vowels in a string

In [ ]:
s='education'
count=0
for i in s:
  if i in 'aeiouAEIOU':
    count=count+1
print("vowels",count)

vowels 5

34 count uppercase and lowercase letters

In [ ]:
s='python'
upper=0
lower=0
for i in s:
  if i.isupper():
    upper=upper+1
  else:
    lower=lower+1
print("upper",upper)
print("lower",lower)

upper 0
lower 6

35 Replace all spaces with hyphens (-).

In [ ]:
k="python is easy"
result=""
for ch in k:
  if ch==" ":
    result+="-"
  else:
    result+=ch
print(result)

python-is-easy

In bulit

In [ ]:
k="python is easy"
print(k.replace(" ","-"))

python-is-easy

Count words in a sentence.

1️⃣2️⃣ Find the most frequent character in a string.

1️⃣3️⃣ Check if two strings are anagrams.

1️⃣4️⃣ Count the number of digits, letters, and special characters.

1️⃣5️⃣ Print characters at even index positions.

1️⃣6️⃣ Remove duplicate characters from a string.

1️⃣7️⃣ Find the first non-repeating character.

1️⃣8️⃣ Capitalize the first and last character of each word.

1️⃣9️⃣ Check if a string contains only digits.

2️⃣0️⃣ Find the longest word in a sentence.